command alias -h "Recursively dumps Views" -H "dump_autoLayout will recursiviley dump the root view and all the subviews and their frames." -- dump_autoLayout expression -l objc -O -- [[[[[UIApplication sharedApplication] keyWindow] rootViewController] view] recursiveDescription]

command alias -h "like po but for objc" -H "like po but it excutes the code in objc context, for instance we can use memory adress to print out NSObjects." -- cpo expression -l objc -O --

command alias lpo expression -l %1 -O --

command regex -h "regex image lookup" rlook 's/(.+)/image lookup -rn %1/'

command regex -h "lookup and output in a more readable format" rsearch 's/(.+)/script print("\n".join([hex(i.GetSymbol().GetStartAddress().GetLoadAddress(lldb.target)) + " " + i.GetSymbol().GetName() + "\n" for i in lldb.target.FindGlobalFunctions("%1", 0, lldb.eMatchTypeRegex)]))/'

command regex -h "toggles visibility of a UIView, or NSView" tv 's/(.+)/expression -l objc -O -- @import QuartzCore; [%1 setHidden:!(BOOL)[%1 isHidden]]; (void) [CATransaction flush];/'

command regex -h "gives the type of class, works both with objc and swift context." -s "getcls <expression>" getcls 's/(([0-9]|\$|\@|\[).*)/cpo [%1 class]/' 's/(.+)/expression -l swift -O -- type(of: %1)/'